footer.footer
    .container.footer__container
        .footer__row
            .footer__copy
                p © AdRise 2025

            .footer__copy
                a(href="#privacy-policy") Privacy Policy

            .footer__copy
                a(href="#terms") Terms of Use
        
