- 
    nav = [
        {
            name: 'Formats',
            href: '#section-formats'
        },
        {
            name: 'Sources',
            href: '#section-sources'
        },
        {
            name: 'Offer',
            href: '#section-benefits'
        },
        {
            name: 'Team',
            href: '#section-about'
        }
    ]