.about
    .about__row
        .about__content
            .about__label Who are we
            h2.about__title Over 50 dedicated professionals
            .about__desc The company’s team consists of experienced professionals in the field of creativity and media, who have many years of experience in generating high-quality traffic and leads

        .about__img--wrap
            img.about__img(src="img/content/about/img.png" width="738" height="417" alt="Who are we")

            
