.banner
    .banner__body
        .banner__content
            h1.banner__title Buy Advertising or&nbsp;Monetize Traffic
            .banner__desc Maximize earnings and reach with AdsRise — monetize your site or app using our Smartlink & SDK for efficient ad solutions

            .banner__actions
                a.btn.btn--big.btn--accent.btn--arrow-right(href="#") Get started

        .banner__img--wrap
            picture
                source(srcset="img/content/banner/desktop.png" media="(min-width: 992px)")
                source(srcset="img/content/banner/tablet.png" media="(min-width: 580px)")
                img(src="img/content/banner/mobile.png" width="402" height="874" alt="Banner title")