.benefits
    .benefits__row
        .benefits__card
            .benefits__card-body
                .benefits__card-img--wrap
                    img.benefits__card-img(src="img/content/benefits/card_0.png" width="385" height="220" alt="Title card")
                    
                .benefits__card-info
                    .benefits__card-title 250 million users
                    .benefits__card-desc We reach over 250 million unique users globally each month across all regions 

        .benefits__card
            .benefits__card-body
                .benefits__card-img--wrap
                    img.benefits__card-img(src="img/content/benefits/card_1.png" width="385" height="220" alt="Title card")

                .benefits__card-info
                    .benefits__card-title Verticals served
                    .benefits__card-desc AdRise offers advanced media buying tools for E-commerce, iGaming, and

        .benefits__card
            .benefits__card-body
                .benefits__card-img--wrap
                    img.benefits__card-img(src="img/content/benefits/card_2.png" width="385" height="220" alt="Title card")

                .benefits__card-info
                    .benefits__card-title Operational format
                    .benefits__card-desc Managed service exclusively for large publishers and advertisers

        .benefits__card
            .benefits__card-body
                .benefits__card-img--wrap
                    img.benefits__card-img(src="img/content/benefits/card_3.png" width="385" height="220" alt="Title card")

                .benefits__card-info
                    .benefits__card-title Pricing models
                    .benefits__card-desc CPM (Cost Per Mille) and CPA (Cost Per Action)