.contacts
    .contacts__row
        .contacts__content
            h2.contacts__title Contact Us
            .contacts__desc Your opinion is important to us! If you have any suggestions or feedback write to us. We will definitely review your message and try to make our service even better

        form.contacts__form
            .form__group
                .input
                    input.input__cell(type="text" name="name" placeholder="Name")

                .input
                    input.input__cell(type="text" name="email" placeholder="Email")

            .input
                textarea.input__cell(rows="2" cols="2" name="msg" placeholder="Message")

            .form__footer
                button.btn.btn--accent.btn--arrow-right.form__send(type="submit" aria-label="Send form") Send

                