.formats
    .formats__row
        .formats__card
            .formats__card-body
                .formats__card-img--wrap
                    include ../../img/content/formats/card_0.svg

                .formats__card-info
                    .formats__card-panel
                        .formats__card-title Popunders
                        .formats__card-price $0.5 - $2

                    .formats__card-desc
                        | — High impact, budget-friendly ads
                        <br />
                        | — Excellent visibility, especially effective on mobile
                        <br />
                        | — Ideal for offers in iGaming, sweepstakes, and entertainment verticals

        .formats__card
            .formats__card-body
                .formats__card-img--wrap
                    include ../../img/content/formats/card_1.svg

                .formats__card-info
                    .formats__card-panel
                        .formats__card-title Push Notifications
                        .formats__card-price $0.8 - $3

                    .formats__card-desc
                        | — Instant, direct messages delivered to usersE
                        <br />
                        | — Ideal for targeted user engagement and retargeting
                        <br />
                        | — Best suited for e-commerce, finance, apps, and subscription offers

        .formats__card
            .formats__card-body
                .formats__card-img--wrap
                    include ../../img/content/formats/card_2.svg

                .formats__card-info
                    .formats__card-panel
                        .formats__card-title Native Ads
                        .formats__card-price $1 - $5

                    .formats__card-desc
                        | — Seamlessly blend ads with platform content
                        <br />
                        | — High user engagement through non-disruptive, relevant content
                        <br />
                        | — Effective for content marketing, health, finance, and product promotions
                        <br />
                        | — A key component of the best traffic sources for CPA marketing

        .formats__card
            .formats__card-body
                .formats__card-img--wrap
                    include ../../img/content/formats/card_3.svg

                .formats__card-info
                    .formats__card-panel
                        .formats__card-title In-App Advertising
                        .formats__card-price $2 - $10

                    .formats__card-desc
                        | — Engaging formats like banners, videos, and interactive ads
                        <br />
                        | — Precise targeting capabilities leading to higher conversions and better user experience
                        <br />
                        | — Excellent for app installs, games, and e-commerce promotions