.hero
    .hero__content
        h2.hero__title Technology Advantages
        .hero__desc AdsRise incorporates sophisticated tools to prevent fraud and ensure transparency, protecting advertisers from unhealthy traffic

    .hero__img--wrap
        img.hero__img(src="img/content/hero/img.png" width="656" height="656" alt="Title hero")