.partners
    .partners__list
        .partners__img--wrap
            img.partners__img(src="img/content/partners/item_0.png")

        .partners__img--wrap
            img.partners__img(src="img/content/partners/item_1.png")

        .partners__img--wrap
            img.partners__img(src="img/content/partners/item_2.png")

        .partners__img--wrap
            img.partners__img(src="img/content/partners/item_3.png")

        .partners__img--wrap
            img.partners__img(src="img/content/partners/item_4.png")

        .partners__img--wrap
            img.partners__img(src="img/content/partners/item_5.png")

        .partners__img--wrap
            img.partners__img(src="img/content/partners/item_6.png")

        .partners__img--wrap
            img.partners__img(src="img/content/partners/item_7.png")

        .partners__img--wrap
            img.partners__img(src="img/content/partners/item_8.png")

        .partners__img--wrap
            img.partners__img(src="img/content/partners/item_9.png")

    .partners__list
        .partners__img--wrap
            img.partners__img(src="img/content/partners/item_0.png")

        .partners__img--wrap
            img.partners__img(src="img/content/partners/item_1.png")

        .partners__img--wrap
            img.partners__img(src="img/content/partners/item_2.png")

        .partners__img--wrap
            img.partners__img(src="img/content/partners/item_3.png")

        .partners__img--wrap
            img.partners__img(src="img/content/partners/item_4.png")

        .partners__img--wrap
            img.partners__img(src="img/content/partners/item_5.png")

        .partners__img--wrap
            img.partners__img(src="img/content/partners/item_6.png")

        .partners__img--wrap
            img.partners__img(src="img/content/partners/item_7.png")

        .partners__img--wrap
            img.partners__img(src="img/content/partners/item_8.png")

        .partners__img--wrap
            img.partners__img(src="img/content/partners/item_9.png")