.sources
    .sources__tabs
        .sources__nav
            ul.sources__nav-list
                li.sources__nav-item.sources__nav-item--active(data-tab="sources-tab-0")
                    .sources__nav-icon--wrap
                        img.sources__nav-icon(src="img/content/sources/icons-nav/item_0.svg" width="24" height="24" alt="Websites")

                    .sources__nav-info
                        .sources__nav-name Websites
                        .sources__nav-desc News, E-commerce and entertainment sites

                li.sources__nav-item(data-tab="sources-tab-1")
                    .sources__nav-icon--wrap
                        img.sources__nav-icon(src="img/content/sources/icons-nav/item_1.svg" width="24" height="24" alt="Social Traffic")

                    .sources__nav-info
                        .sources__nav-name Social Traffic
                        .sources__nav-desc Optimized via smart links from major platforms for precise targeting and maximum engagement

                li.sources__nav-item(data-tab="sources-tab-2")
                    .sources__nav-icon--wrap
                        img.sources__nav-icon(src="img/content/sources/icons-nav/item_2.svg" width="24" height="24" alt="Apps")

                    .sources__nav-info
                        .sources__nav-name Apps
                        .sources__nav-desc Available on Google Play, App Store, and Telegram Mini-Apps

                li.sources__nav-item(data-tab="sources-tab-3")
                    .sources__nav-icon--wrap
                        img.sources__nav-icon(src="img/content/sources/icons-nav/item_3.svg" width="24" height="24" alt="Ad Networks")

                    .sources__nav-info
                        .sources__nav-name Ad Networks
                        .sources__nav-desc Direct traffic from 3rd-party ad networks via RTB and SmartLinks

        .sources__content
            .sources__section.sources__section--show(data-tab="sources-tab-0")
                .sources__img--wrap
                    img.sources__img(src="img/content/sources/sections/item_0.svg" width="738" height="432" alt="Websites")

            .sources__section(data-tab="sources-tab-1")
                .sources__img--wrap
                    img.sources__img(src="img/content/sources/sections/item_1.svg" width="738" height="432" alt="Social Traffic")

            .sources__section(data-tab="sources-tab-2")
                .sources__img--wrap
                    img.sources__img(src="img/content/sources/sections/item_2.svg" width="738" height="432" alt="Apps")

            .sources__section(data-tab="sources-tab-3")
                .sources__img--wrap
                    img.sources__img(src="img/content/sources/sections/item_3.svg" width="738" height="432" alt="Ad Networks")